<!DOCTYPE html>
<html lang="en">
<%- include('head.html') %> 
<header>
    <%- include('header.html') %> 
</header>
<body>
    <ul>
        <% people.forEach(function(person)=>{%>
        <li>
            <%= person.id %>
            <%= person.fname %>
            <%= person.lname%>
        </li>
        <% }) %>
    </ul>
</body>
</html>